:root {
    --hack-green: #20C20E ;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Consolas';
}

/* this is a hack to resuse navbar code in footer on a diff background */
#links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1rem;
    text-align: left;
}

section {
    background-color: white;
    padding-bottom: 5%;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
}

#content {
    /* controls space between navbar and content */
    padding-top: 4rem;
    /* controls space between footer and content */
    padding-bottom: 16rem; /* footer height ~16rem */
}

#page {
    position: relative;
    min-height: 100vh;
}

/* section styling */
section[id="CONTACT"] {
    background-color: black;
}

/* contact form */
label {
    color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    border-bottom: 2px solid var(--hack-green);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--hack-green);
}

/* video */
#blackDotGif {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.video-overlay {
    position: relative;
    top: 30vh;
    height: 90vh;
    color: #f1f1f1;
    width: 100%;
}

hr {
    display: inline-block;
    width: 100%;
}

img {
    object-fit: fill;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* icons */
.icon {
    display: inline-block;
    font-size: 1.5em;
    color: black;
}

.icon:hover {
    color: var(--hack-green);
}

/* temp formatting */
.reducedWidth {
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
