/* SPLASH */
section[id="SPLASH"] {
    position: relative;
}

#blackDotGif {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.overlay {
    padding-top: 50vh;
    height: 90vh;
    color: #f1f1f1;
    width: 100%;
}


/* ABOUT */
#ABOUT > .flex-row > * {
    width: 50%;
}

#about-me-text {
    padding-left: 3rem;
    padding-right: 12rem;
    box-sizing: border-box;
}


/* EXPERIENCE */
.work-container {
    justify-content: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.work-card {
    flex: 1;
    background-color: rgb(33, 33, 33);
    margin: 0.5rem;
    color: white;
}

.work-card h1 {
    padding-left: 1.0rem;
    margin: 0;
    margin-top: 1rem;
}

.work-card h3 {
    padding-left: 1.0rem;
    margin: 0;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.work-card h1:hover {
    color: var(--hack-green);
    cursor: pointer;
}

.work-card a {
    color: inherit;
    text-decoration: none;
}

/* PROJECTS */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* gap: 2.5%; */
    column-gap: 2.5%;
    grid-auto-rows: min-content;
    max-width: 1500px; /* constrain to three columns */
    
    /* TODO: HACK: there's a better way to do this */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.project-title-bar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: baseline;
    height: auto;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}

.icon-container > a {
    margin-left: 5px;
    margin-right: 5px;
}


/* CONTACT */
#CONTACT > .flex-row > * {
    width: 50%;
}
