<!DOCTYPE html>
<html lang="en">

<head>
  <title>Carter Watson</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- meta tags for link previews -->
  <meta name="title" property="og:title" content="Carter Watson">
  <meta name="description" property="og:description" content="Personal Blog & Portfolio">
  <meta name="author" content="Carter Watson">
  <!-- end SEO meta/link preview tags -->
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/general.css"/>
  <link rel="shortcut icon" type="image/x-icon" href="media/favicon.ico"> <!-- TODO: add favicon -->
</head>

<body>
  <div id="page">
    <header>
      <div>
        <p>CARTER WATSON</p>
        <div class="horizontal-flexbox">
          <a class="right-aligned-item" href="/">/home</a>
          <a class="right-aligned-item" href="/now/">/now</a>
          <a class="right-aligned-item" href="/blog/">/blog</a>
          <a class="right-aligned-item" href="/projects/">/projects</a>
        </div>
      </div>
      <hr>
    </header>

    <div id="content">
    </div>

    <footer>
      <hr>
      <div>
        <p>JCW&copy;2023</p>
        <div class="horizontal-flexbox">
          <a class="right-aligned-item" href="https://www.github.com/cartwatson" target="_blank">/github</a>
          <a class="right-aligned-item" href="https://www.linkedin.com/in/cartwatson" target="_blank">/linkedin</a>
          <a class="right-aligned-item" href="https://github.com/cartwatson/cartwatson.github.io/" target="_blank">/sourcecode</a>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
