<!DOCTYPE html>
<html lang="en">

<head>
  <title>Carter Watson</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- meta tags for link previews -->
  <meta name="title" property="og:title" content="Carter Watson">
  <meta name="description" property="og:description" content="Personal Blog & Portfolio">
  <meta name="author" content="Carter Watson">
  <!-- end SEO meta/link preview tags -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/general.css" />
  <link rel="shortcut icon" type="image/x-icon" href="media/favicon.ico"> <!-- TODO: add favicon -->
</head>

<body>
  <div id="page">
    <header>
      <div>
        <p>Carter Watson</p>
        <div class="horizontal-flexbox">
          <a class="right-aligned-item" href="/">/home</a>
          <a class="right-aligned-item" href="/now/">/now</a>
          <a class="right-aligned-item" href="/blog/">/blog</a>
          <a class="right-aligned-item" href="/projects/">/projects</a>
        </div>
      </div>
      <hr>
    </header>

    <div id="content">
    <!-- TODO: rm after tool working -->
      <h1>ABOUT ME</h1>
      <p>Hi I'm Carter! I grew up in Utah but have recently moved to Sourthern California, which is arguably the greatest place on earth (I'm never leaving). I'm a life long Utah State Aggie and a very amatuer road cyclist.</p>
      <p>I've worked in or adjacent to the defense industry for almost a decade. In highschool I was a machinist, manufacturing everything from medical components to rifle chambers, I spent my college years with the Space Dynamics Lab in a variety of technical positions, and now I work for Anduril, an autonomous weapons startup.</p>
      <p>When I'm not making the world a place. I work on my home lab, catch up on a new TV show with my fiance, or play some casual 4v4 beach vollyball.</p>
      <p>If you want to chat about what I've written or anything else, reach out to me on <a href="https://linkedin.com/in/cartwatson">LinkedIn</a>, always happy to yap</p></a>
      <h2>TESTING</h2>
      <blockquote>
        <p>This is code This is code This is code This is code This is code This is code This is code This is code This is code </p>
        <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        <p><strong>TESTING</strong></p>
        <p><em>TESTING</em></p>
        <p>testing</p>
        <p>- testing</p>
      </blockquote>
      <h3>ANOTHER TEST</h3>
      <code>
        <p>This is code This is code This is code This is code This is code This is code This is code This is code This is code </p>
        <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        <p><strong>TESTING</strong></p>
        <p><em>TESTING</em></p>
        <p>testing</p>
      </code>
      <h4>Final Test</h4>
      <ol>
        <li>This is code This is code This is code This is code This is code This is code This is code This is code This is code </li>
        <li>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
        <li><strong>This is code</strong></li>
        <li><em>This is code</em></li>
      </ol>
      <ul>
        <li>This is code This is code This is code This is code This is code This is code This is code This is code This is code </li>
        <li>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
        <li><strong>This is code</strong></li>
        <li><em>This is code</em></li>
      </ul>
      <p>this is a test for <code>inline code</code> not anything else this is a test for <code>inline code</code> not anything else this is a test for <code>inline code</code> not anything else this is a test for <code>inline code</code> not anything else this is a test for <code>inline code</code> not anything else </p>
    </div>

    <footer>
      <hr>
      <div>
        <p>JCW&copy;2023</p>
        <div class="horizontal-flexbox">
          <a class="right-aligned-item" href="https://www.github.com/cartwatson" target="_blank">/github</a>
          <a class="right-aligned-item" href="https://www.linkedin.com/in/cartwatson" target="_blank">/linkedin</a>
          <a class="right-aligned-item" href="https://github.com/cartwatson/cartwatson.github.io/tree/gh-pages" target="_blank">/sourcecode</a>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
