<!DOCTYPE html>
<html lang="en">

<head>
  <title>Carter Watson</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- meta tags for link previews -->
  <meta name="title" property="og:title" content="Carter Watson">
  <meta name="description" property="og:description" content="Personal Blog & Portfolio">
  <meta name="author" content="Carter Watson">
  <!-- end SEO meta/link preview tags -->
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/general.css"/>
  <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico"> <!-- TODO: add favicon -->
</head>

<body>
  <header>
    <div>
      <p>CARTER WATSON</p>
      <div class="horizontal-flexbox">
        <p><a class="left-aligned-item" href="/">/home</a></p>
        <p><a class="left-aligned-item" href="/now/">/now</a></p>
        <p><a class="left-aligned-item" href="/blog/">/blog</a></p>
        <p><a class="left-aligned-item" href="/projects/">/projects</a></p>
      </div>
    </div>
    <hr>
  </header>

  <div id="content">
  </div>

  <footer>
    <hr>
    <div>
      <div class="horizontal-flexbox">
        <p><a class="left-aligned-item" href="/disclaimer.html">/disclaimer</a></p>
        <p><a class="left-aligned-item" href="https://www.github.com/cartwatson" target="_blank">/github</a></p>
        <p><a class="left-aligned-item" href="https://www.linkedin.com/in/cartwatson" target="_blank">/linkedin</a></p>
      </div>
      <p>JCW&copy;2025</p>
    </div>
  </footer>
</body>

</html>

