:root {
    --hack-green: #20C20E ;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Consolas';
}

#navbar {
    z-index: 1;
    width: 100%;
    height: 3rem;
    /* padding: 0.25rem; */
    border: 0rem outset none;
    border-bottom: 0.125rem outset black;
    background-color: white;

    /* show up on scroll */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */

    /* animation color */
    transition: background-color 0.25s ease-in-out;
}

#navbar:hover {
    background-color: black;
    border-color: white;
}

#navbar:hover a {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;

    padding: 0.5rem;
    background-color: black;
    width: 100%;
}

/* this is a hack to resuse navbar code in footer on a diff background */
#links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.button {
    background-color: transparent;
    height: auto;
    padding: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.button > a {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button > a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    /* background-color: darkgray; */
    background-color: var(--hack-green);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.button > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.edge-button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.secondary-button {
    background-color: rgba(128, 128, 128, 0.5);

    text-align: center;
    padding: 0.5rem;
    margin: 0.25rem;

    border-radius: 10px;
}

.secondary-button a {
    text-decoration: none;
    color: white;
}

.secondary-button:hover {
    background-color: var(--hack-green);
    opacity: 1.0;
}

.secondary-button:hover a {
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1rem;
    text-align: left;
}

section {
    background-color: white;
    padding-bottom: 5%;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
}

#content {
    /* controls space between navbar and content */
    padding-top: 4rem;
    /* controls space between footer and content */
    padding-bottom: 16rem; /* footer height ~16rem */
}

#page {
    position: relative;
    min-height: 100vh;
}

/* section styling */
section[id="CONTACT"] {
    background-color: black;
}

/* contact form */
label {
    color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    border-bottom: 2px solid var(--hack-green);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--hack-green);
}

/* video */
#blackDotGif {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.video-overlay {
    position: relative;
    top: 30vh;
    height: 90vh;
    color: #f1f1f1;
    width: 100%;
}

hr {
    display: inline-block;
    width: 100%;
}

img {
    object-fit: fill;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* icons */
.icon {
    display: inline-block;
    font-size: 1.5em;
    color: black;
}

.icon:hover {
    color: var(--hack-green);
}

/* temp formatting */
.reducedWidth {
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile */
#mobile {
    display: none;
    padding-top: 4rem;
    padding-bottom: 22rem; /* footer height ~16rem */
}

@media screen and (max-width: 600px) {
    #navbar-middle {
        display: none;
    }

    /* NOTE: HACK: change content for mobile */
    #mobile { display: block; }
    #content { display: none; }
    #navbar { display: none; }
    /* add something to not play video on mobile */
} 