:root {
  --bg1: #282828;
  --text: #FBF1C7;
  --text-link: #B8BB26;
  --code-bg: #1D2021;
  --blockquote: #FABD2F;
  --hr: #458588;
 }

@media (prefers-color-scheme: light) {
  :root {
    --bg1: #F9F5D7;
    --text: #282828;
    --text-link: #076678;
    --code-bg: #BDAE93;
    --blockquote: #B57614;
    --hr: #B8BB26;
  }
}

/* FONTS ---------------------------------------------------------------------*/
@font-face {
  font-family: miracode;
  src: url(../media/fonts/Miracode.ttf);
}

@font-face {
  font-family: opensans;
  src: url(../media/fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url(../media/fonts/OpenSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: opensans;
  src: url(../media/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: opensans-bolditalic;
  src: url(../media/fonts/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

:is(h1, h2, h3, h4, h5, h6), header, footer, code {
  font-family: miracode;
}

#content p {
  font-family: opensans;
}

/* DESIGN --------------------------------------------------------------------*/
body {
  margin: 0;
  background: var(--bg1);
  font-size: large;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

a:hover {
  color: var(--text-link);
  text-decoration: underline;
}

#page {
  max-width: 33%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg1);
  color: var(--text);

  /* put footer at bottom of page */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.horizontal-flexbox {
  display: flex;
  flex-direction: row;
}

.left-aligned-item {
  margin-right: 1rem;
}

.right-aligned-item {
  margin-left: 1rem;
}

header > div, footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

hr {
  border-color: var(--hr);
}

#content > hr {
  border-color: var(--codebg);
}

/* MARKDOWN ------------------------------------------------------------------*/
blockquote {
  border-left: 0.25rem solid var(--blockquote);
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

code {
  background: var(--code-bg);
  display: block;
  padding: 1rem;
}

code p, blockquote p, ol li, ul li {
  word-break: break-word;
}

code p {
  /* default is 1rem margin */
  margin-top:    0rem;
  margin-bottom: 0rem;
}

p code {
  display: inline;
  padding: 0.125rem;
}

/* MOBILE FORMATTING ---------------------------------------------------------*/
@media screen and (max-width: 800px) {
  #page {
    padding-left:  1rem;
    padding-right: 1rem;
    max-width: 100vw;
  }
}
