/* THEMES --------------------------------------------------------------------*/
/* default to dark mode */
:root {
  --bg1: #1C1C1C;
  --text: #FBF1C7;
  --text-link: #B8BB26;
  --code-bg: #504945;
  --blockquote: #FABD2F;
  --accent: #458588;
 }

@media (prefers-color-scheme: light) {
  :root {
    --bg1: #F9F5D7;
    --text: #282828;
    --text-link: #076678;
    --code-bg: #D5C4A1;
    --blockquote: #B57614;
    --accent: #B8BB26;
  }
}

/* FONTS ---------------------------------------------------------------------*/
@font-face {
  font-family: miracode;
  src: url(../media/fonts/Miracode.ttf);
}

@font-face {
  font-family: opensans;
  src: url(../media/fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url(../media/fonts/OpenSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: opensans;
  src: url(../media/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: opensans-bolditalic;
  src: url(../media/fonts/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

:is(h1, h2, h3, h4, h5, h6), header, footer, code {
  font-family: miracode;
}

#content p {
  font-family: opensans;
}

/* DESIGN --------------------------------------------------------------------*/
body {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  background: var(--bg1);
  color: var(--text);
  font-size: large;

  /* mobile */
  padding-left:  30px;
  padding-right: 30px;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

a:hover {
  color: var(--text-link);
  text-decoration: underline;
}

.horizontal-flexbox {
  display: flex;
  flex-direction: row;
}

.left-aligned-item {
  margin-right: 1rem;
}

.right-aligned-item {
  margin-left: 1rem;
}

hr {
  border-color: var(--accent);
}

#content > hr {
  border-color: var(--codebg);
}

header {
  margin-top: 1rem;
}

footer p, header p {
  margin: 0.25rem 0 0.25rem;
}

img {
  width:100%;
}

/* MARKDOWN ------------------------------------------------------------------*/
blockquote {
  border-left: 0.25rem solid var(--blockquote);
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

code {
  background: var(--code-bg);
  display: block;
  padding: 1rem;
}

code p, blockquote p, ol li, ul li {
  word-break: break-word;
}

code p {
  /* default is 1rem margin */
  margin-top:    0rem;
  margin-bottom: 0rem;
}

p code {
  display: inline;
  padding: 0rem;
}

